@media only screen and (min-width: 37.5em){
    nav ul{
      margin-left: 2%;
    }
    nav ul li {
        float: left;
    }
    nav ul li a{
        border: none;
    }
    nav ul.close{
        display:block;
    }
    header img{
        width:15%;
        max-width: 150px;
    }
    header h1{
        font-size: 3rem;
    }
    nav button{
        display: none;
    }
    }