body{
    color:black;
    background-color: #16B1De;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;

}
header,
main{ 
    background-color:white;
}
header,
footer{
    display: flex;
    flex-flow: column;
}

main{
    border-top: solid 5px #16B1De;
    border-bottom: solid 5px #16B1De;

}
main p{
    width:70%;
    text-align: start;
    padding-bottom: 20px;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color:#16B1De;
}
nav{
    background-color: #2019A2;
    text-align: center;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul li a{
    display: block;
    text-align: center;
    padding: .8em 2%;
    text-decoration: none;
    color: white;
    border-top: 1px solid rgba(32, 25, 162, .5);
}
nav a:hover{
    background-color: #258Df5;
    color: #2019A2;
}
nav button{
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.4rem;
    color: white;
    text-align: start;
}
.active{
    color:#16B1De;
}
p,
h1,
h2,
h3,
main ul {
    padding-left: 30px;
    padding-right: 30px;
    text-align: start;
}
ul{
    list-style-type: none;
}

header img{
    width:20%;
    padding-top: 10px;
    display: inline;

}
header h1{
    font-size: 3rem;
    margin-top: 10px;
    display: inline;
}
header p {
    margin-top: -25px;
}
h1,
h2,
h3{
    font-family: alga, serif;
    font-style: normal;
    font-weight: 400;
}
h1{
    color:#2019A2;
}
h2{
    color:#258Df5;
}
img{
    width:60%;
    padding-left: 30px;
    padding-right: 30px; 
}
footer{
    background-color:#2019A2;
    color: white;
     margin:auto;
 
 }
 footer p{
     padding-bottom:10px;
     margin-bottom: 0px;
 }