body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
}
main{
    box-shadow: 0 0 30px #333;

}

h1{
    width: 100%;
}
h1, h2{
    color: rgb(14, 83, 12);
    font-family: 'Merriweather', serif;
    padding-bottom: 10px;
}
img{
    width: 100%;
    max-width: 200px;
    margin: auto;
    box-shadow: 0 0 30px #333;
    margin-top: 10px;
}
section{
    background-color: rgb(234, 243, 234);
    padding: 10px;
    border: solid 1px rgb(7, 82, 7);
    margin: 5px;
    margin-right: 10px;
    margin-left: 10px;
    max-width: 400px;
}
@media only screen and (min-width: 450px){
    body{
        grid-template-columns: 1fr 1fr;

    }
}

@media only screen and (min-width: 890px){
    body{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}