header{
    background-color:rgb(17, 68, 83);
    color:beige;
    border-radius: 1em;
}
p{
    font-family:'Josefin Sans', sans-serif;

}
h1{
    font-size: 2.5rem;
    padding: 1em;
    font-family:'Josefin Sans', sans-serif;
}
img{
    height: 150px;
    margin-right: 1.5em;
    margin-top: 20px;
    align-items: center;
}
footer{
    background-color:rgb(17, 68, 83);
    color:beige;
    border-radius: 1em;
}
footer p{
    padding: 10px;
    font-family:'Josefin Sans', sans-serif;

}
div{
    margin:1em;
    font-family:'Josefin Sans', sans-serif;

}
#titleWords{
    border-bottom-style: solid;
}

