body{
    align-items: center;

}
header{
    background-color:rgb(17, 68, 83);
    color:beige;
}
p{
    font-family:'Josefin Sans', sans-serif;
    text-align: center;

}
h1{
    font-size: 2.5rem;
    padding: 1em;
    font-family:'Josefin Sans', sans-serif;
    text-align: center;

}
h2{
    text-align: center;
}
ul{
    text-align: center;
}
img{
    height: 175px;
    margin: auto;
    display: block;
    padding-top: 20px;
    margin-bottom: -40px;
}
footer{
    background-color:rgb(17, 68, 83);
    color:beige;
}
footer p{
    padding: 10px;
    font-family:'Josefin Sans', sans-serif;
    text-align: center;
}
div{
    margin:1em;
    font-family:'Josefin Sans', sans-serif;

}
#titleWords{
    border-bottom-style: solid;
}
a {
    color: black;
}
footer a {
    color: beige;
}

