body{
    background-color:#4C00B8;
    font-family: "Red Hat Display", sans-serif;
    color: black;
    text-align: center;
}
main{
    background-color: white;
    margin: auto;
    margin-top: 15px;
    padding-bottom: 20px;
}
h1, h2, h3{
    font-family: "Roboto Slab", serif;
    color:#4C00B8;
}
img{
    width: 100%;
}
main p{
    width: 80%;
    margin: auto;
    margin-top: 5px;
}

/*---- HEADER ----*/
header{
    background-color: white;    
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1{
    
    margin-left: 12px;
    margin-right: 15px;
}
header picture{
    width: 25%;
    min-width: 100px;
    max-width: 200px;
    margin-left: 15px;
}

/*---- NAV ----*/
nav{
    background-color: #9105A8;
    text-align: center;
}
nav ul{
    list-style-type: none;
    overflow: hidden;
}
nav ul.close{
    display: none;
}
nav ul li a{
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 1em;
    margin-left: -40px;
}
nav a:hover{
    background-color:#07D9C4;
    color: #4C00B8;
    transition: 0.5s;
}
nav ul li.navActive a{
    background-color:#FFE500;
    color:#4C00B8;
}
nav button{
    margin: 5px;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: white;
}
nav button:hover{
    background-color:#FFE500;
    color: #4C00B8;
    transition: 0.5s;
    border-radius: 10px 10px 10px 10px;
}
/*---- MAIN ----*/
.join button{
    padding: 10px;
    background-color: #9105A8;
    color: white;
    border: none;
    border-radius: 20px;
    width: 80%;
    max-width: 200px;
    box-shadow: #ccc 5px 7px 5px;
    margin-bottom: 20px;
    margin-top: 15px;
}

.join button:hover{
    background-color:#FFE500;
    color:#4C00B8;
    transition: 0.5s;
    
}
.vision{
    padding: 20px;
}
.events{
    border: 10px double #9105A8;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 20px;
    background-color:#ffe60042;
    border-radius: 20px;
}
/*---- BUSINESS HIGHLIGHTS ----*/
.businessAds{
    background-color:#4C00B8;
    padding-top: 20px;
    padding-bottom: 20px;
}
.businessAds h2{
    color: white;
    
}
.busCard{
border: 5px solid #9105A8;
border-radius: 20px;
padding: 10px;
background-color:white;
margin:auto;
margin-top: 20px;
margin-bottom: 20px;
width: 100%;
max-width: 415px;
}
.busCard img{
    width: 100%;
    max-width: 400px;
    box-shadow: #ccc 5px 7px 5px;
}

/*---- WEATHER ----*/
.threeDay{
   display: flex;
   flex-direction: column;
    padding-bottom: 20px;
    border: 3px solid #9105A8;
    border-radius: 20px;
    background-color: #07d9c459;
    width: 50%;
    margin: auto;
    margin-top: 20px;
}
.threeDay img{
    width: 100%;
    max-width: 50px;
    display: block;
    margin: auto;
}
.threeDay span.days{
    border: 3px solid #9105A8;
    background-color:white;
    width: 100px;
    margin: auto;
    text-align: center; 
}
.weatherBanner{
    background-color: #FFE500;
    color:#4C00B8;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.weatherBanner button{
    padding: 5px;
    border: none;
    border-radius: 20px;
    background-color:#4C00B8;
    color: #FFE500;
    position: absolute;
    top: 1rem;
    right:2rem;
    font-size: .8rem;
}
.hide{
    display: none;
}
.current{
    border: 3px solid #9105A8;
    border-radius: 20px;
    background-color: #07d9c459;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    padding-bottom: 20px;
}

/*---- TUCUMCARI PAGE PHOTO GAL ----*/
.tucPhotos{
    display: flex;
    
}
.tucPhotos img{
    width: 100%;
    max-width: 300px;
    
}

/*---- FOOTER ----*/
footer{
    background-color: #9105A8;
    color: white;
    margin: auto;
    padding: 20px;
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
}
footer h3{
    color: white;
}
.contactInfo{
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;
}
.socialIcons{
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: row;
    justify-items:end;
}
.socialIcons img{
-webkit-filter: invert(100%);
max-width: 3.5rem;
padding: 1rem;
}
.tucMap{
    grid-column: span 2;
    grid-row: 2/3;
}
.footRunner{
    grid-column: 1/4;
    grid-row: 3/4;
    
    margin-top: 15px;
    
    
}
iframe{
    width: 100%;
    
}

